{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>PlaylistWeb - Login</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="main-container">
        <div class="bloco-login">
            <h1 class="titulo">Entre</h1>
            
            <form action="{% url 'login' %}" method="post"> 
                {% csrf_token %} 
                

                {% if form.errors %}
                <div style="background-color: #ffcccc; color: #cc0000; padding: 10px; margin-bottom: 15px; border-radius: 5px; text-align: center;">
                        <p style="margin: 0; font-size: 14px;">Usuário ou senha incorretos.</p>
                    </div>
                {% endif %}



                <p class="label-input">Usuário</p>
                <div class="input-group">
                    <input type="text" name="username" placeholder="Nome de Usuário" required>
                </div>
    
                <p class="label-input">Senha</p>
                <div class="input-group">
                    <input type="password" name="password" placeholder="Senha" required>
                </div>
    
                <button type="submit" class="botao-entrar">ENTRAR</button>
            </form>
            
            <p class="texto-cadastro">
                Não Tem Uma Conta? <a href="{% url 'cadastro' %}">Cadastre-se</a>
            </p>
        </div>
    </div>
</body>
</html>